.separator .line {
    -fx-background-color: #e6eaed;
    -fx-pref-height: 1;
    -fx-border-color: null;
}

#btn-seleccion {
    -fx-background-color: #f1f4f5;
}


#btn-seleccion:hover {
    -fx-background-color: #b9d8f7;
}

#btn-seleccion:pressed {
    -fx-background-color: #96c5f4;
}

#btn-seleccion:disabled {
    -fx-background-color: #1a80e6;
    -fx-opacity: 1;
}

#btn-seleccion:disabled .label {
    -fx-text-fill: white;
}

#btn-seleccion:disabled .label:disabled {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#buscar {
    -fx-background-color: #f1f4f5;
    -fx-text-fill: #606c74;
    -fx-min-height: 36.8;
    -fx-min-width: 96;
    -fx-max-height: 1;
}
#nopadding {
    -fx-padding: 0;
}

#btn-seleccion {
    -fx-padding: 0;
}

#buscar:hover {
    -fx-background-color: #e6eaed;
}

#alejo {
    -fx-background-color: #f1f4f5;
    -fx-min-width: 36.8;
    -fx-max-width: 36.8;
    -fx-min-height: 36.8;
    -fx-max-height: 36.8;
}

#alejo:hover {
    -fx-background-color: #e6eaed;
}

.button {
    -fx-background-color: #1a80e6;
    -fx-background-radius: 12;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: white;
    -fx-border-color: null;
}
.button:disabled {
	-fx-background-color: #e85e5e;
	-fx-opacity: 1;
}
.button:hover {
    -fx-background-color: #3d94ea;
}

.button:pressed {
    -fx-background-color: #61a7ee;
}

.button .text {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}

.title {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.boton-principal {
    -fx-background-color: null;
    -fx-background-radius: 12;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: black;
    -fx-border-color: null;
    -fx-min-width: 90;
}

.boton-principal .text {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

#textBold {
	-fx-font-family: "Arial black";
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

#bigtitle {
	-fx-font-family: "Arial black";
	-fx-font-weight: bold;
	-fx-font-size: 25px;
}
.bigtext {
	-fx-font-size: 15px;
}

.boton-principal:hover {
    -fx-background-color: #f1f4f5;
}

.boton-principal:pressed {
    -fx-background-color: #e6eaed;
}

.boton-perfil {
    -fx-padding: 5;
    -fx-background-radius: 5;
}

#boton-lateral {
	-fx-alignment: center-left;
}

.boton-lateral:disabled {
	-fx-background-color: #e6eaed;
}
.boton-cancelar {
	-fx-background-color: #ffffff;
	-fx-text-fill: black;	
}
.boton-cancelar:hover {
	-fx-background-color: #f1f4f5;	
}
.boton-gris {
	-fx-background-color: #f1f4f5;
	-fx-text-fill: black;	
}
.boton-gris:hover {
	-fx-background-color: #e6eaed;	
}

.boton-gris:pressed {
	-fx-background-color: #dbe0e5;	
}

.text-field {
	-fx-padding: 12 5 12 5;
	-fx-background-radius: 10;
	-fx-background-color: #f1f4f5;
	-fx-border-color: transparent;
	-fx-font-size: 15;
}